@import "{{ site.theme }}";

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    margin: 25px 0;
    background-color: #f9f9f9;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}