defmodule ActivatorAPI.Server.Grpc.ProxyEndpoint do
  @moduledoc false
  use GRPC.Endpoint

  intercept(GRPC.Logger.Server)

  services = [
    #MassProxy.Reflection.Service,
<%= Enum.map service_names, fn(service_name) -> %>
    <%= service_name %>,
<% end %>
  ]

  run(services)
end