---
apiVersion: spawn-eigr.io/v1
kind: ActorHost
metadata:
  name: spawn-springboot-example # Mandatory. Name of the Node containing Actor Host Functions
  system: spawn-system # mandatory. Name of the ActorSystem declared in ActorSystem CRD
  namespace: default # Optional. Default namespace is "default"
spec:
  # sidecar:
  #  image: docker.io/eigr/spawn-proxy:0.5.0
  host:
    image: eigr/spawn-springboot-examples:latest # Mandatory
    ports:
      - name: http
        containerPort: 8090
      - name: https
        containerPort: 8091
